<form [formGroup]="registrationForm" autocomplete="off">

  <div class="form-group required">
    <label>Username</label>
    <input class="form-control" formControlName="userName">
    <label class="text-danger" *ngIf="registrationForm.get('userName').touched && registrationForm.get('userName').errors">
      This field is mandatory.
    </label>
  </div>

  <div class="form-group required">
    <label>FullName</label>
    <input class="form-control" formControlName="fullName">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input class="form-control" formControlName="email">
    <label class="text-danger" *ngIf="registrationForm.get('email').touched && registrationForm.get('email').errors">
      Invalid email address.
    </label>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label>Position</label>
      <input class="form-control" formControlName="position">
    </div>

    <div class="form-group col-6">
      <label>Company</label>
      <input class="form-control" formControlName="company">
    </div>
  </div>

  <div class="form-group">
    <label>Location</label>
    <input class="form-control" formControlName="location">
  </div>

  <div formGroupName="passwords" class="form-row">

    <div class="form-group required col-6">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
      <label class="text-danger" *ngIf="registrationForm.get('passwords.password').touched && registrationForm.get('passwords.password').errors?.required">
        This field is mandatory.
      </label>
      <label class="text-danger" *ngIf="registrationForm.get('passwords.password').touched && registrationForm.get('passwords.password').errors?.minlength">
        Minimum 4 characters required.
      </label>
    </div>

    <div class="form-group required col-6">
      <label>Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword">
      <label class="text-danger" *ngIf="registrationForm.get('passwords.confirmPassword').touched && registrationForm.get('passwords.confirmPassword').errors?.required">
        This field is mandatory.
      </label>
      <label class="text-danger" *ngIf="registrationForm.get('passwords.confirmPassword').touched && registrationForm.get('passwords.confirmPassword').errors?.passwordMismatch">
        Confirm Password does not match.
      </label>
    </div>
  </div>

  <div class="form-group">
    <label>Upload Profile Picture</label>
    <input class="text-white" formControlName="profilePictureURL" type="file" accept="image/*" (change)="processImage($event)">
  </div>

  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button (click)="onSubmit()" class="btn btn-lg btn-block btn-primary" [disabled]="!registrationForm.valid">Sign Up</button>
    </div>
  </div>

</form>
