<div>
	<ul class="list-unstyled top-nav nav">
		<li class="list-inline-item pt-2" [routerLink]="['/dashboard/home']" routerLinkActive="active">
			<a class="top-nav-link pl-3 pb-2 pr-4"> HOME</a></li>
		<li class="list-inline-item pt-2" [routerLink]="['/dashboard/categories']" routerLinkActive="active">
			<a class="top-nav-link pl-3 pb-2 pr-4"> CATEGORIES</a></li>
		<li class="list-inline-item pt-2" [routerLink]="['/dashboard/users']" routerLinkActive="active">
			<a class="top-nav-link pl-3 pb-2 pr-4"> USERS</a></li>
	</ul>
</div>
