<div class="pt-2 ml-3 text-purple btn" (click)="goBack()">
  <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>
  <span> Back to users</span>
</div>
<div class="border m-3 cursor-pointer" *ngIf="user">
  <div class="d-flex p-3 bg-white">
    <div>
      <img src="{{user.profilePictureURL}}" class="rounded-circle mr-3 profile-pic">
    </div>
    <div>
      <h6 class="mb-1">{{user.userName}}</h6>
      <p class="font-size-14 text-muted mb-0">{{user.position}}</p>
      <p class="font-size-14 text-muted">{{user.company}}</p>
      <div class="d-flex align-items-center font-size-14">
        <i class="fa fa-thumbs-up text-success mr-2" aria-hidden="true"></i><span class="mr-3">{{user.likes}}</span>
        <i class="fa fa-thumbs-down text-danger mr-2" aria-hidden="true"></i><span>{{user.dislikes}}</span>
      </div>
    </div>
    <div class="d-flex ml-4">
      <div class="d-flex-column align-self-center bg-light-gray p-3 mx-2">
        <div class="pb-2 text-center">{{user.noOfQuestionsAsked}}</div>
        <div class="font-size-12 text-muted">Questions Asked</div>
      </div>
      <div class="d-flex-column align-self-center p-3 mx-2 bg-light-gray">
        <div class="pb-2 text-center">{{user.noOfQuestionsAnswered}}</div>
        <div class="font-size-12 text-muted">Questions Answered</div>
      </div>
      <div class="d-flex-column align-self-center p-3 mx-2 bg-light-gray">
        <div class="pb-2 text-center">{{user.noOfQuestionsSolved}}</div>
        <div class="text-muted font-size-12">Questions Solved</div>
      </div>
    </div>
  </div>
  <div class="bg-white d-flex border-top">
    <a class="px-4 py-3 text-secondary" (click)="getUserAskedQuestions()" [ngClass]="{'user-profile-link':askedQuestions}"> All Questions </a>
    <a class="px-4 py-3 text-secondary" (click)="getUserAnsweredQuestions()" [ngClass]="{'user-profile-link':answeredQuestions}"> Answered </a>
  </div>
</div>
